@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #f0f0f0;
}

.con {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

header {
  background-color: #003366;
  color: #fff;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
  padding: 0px 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.4s ease;
}

header nav ul li a:hover {
  color: #ffc0cb;
}

.hero-text {
  margin-top: 75px;
  text-align: center;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 40px;
}

button {
  padding: 15px 30px;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  color: #040f0f;
}

button:hover {
  background-color: #ffc0cb;
  color: #fff;
}

.featured {
  text-align: center;
  padding: 50px 0;
}

.featured h2 {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.product-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  height: 600px;
  width: 325px;
  margin: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.4s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 325px;
  height: 280px;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product h3 {
  margin: 0px;
  font-size: 24px;
  color: #040f0f;
}

.product p {
  margin: 15px 0px;
  font-size: 20px;
  color: #003366;
}

.product button {
  padding: 10px 20px;
  border: none;
  background-color: #003366;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.product button:hover {
  background-color: #ffb6c1;
}

.about {
  background-color: #003366;
  padding: 60px 0;
  color: #fff;
}

.about h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

.about p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.about button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  padding: 120px 0;
}

.contact h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
}

.contact form {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.contact label {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

.contact input[type="submit"] {
  background-color: #003366;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  padding: 15px 30px;
  border: none;
  transition: 0.4s ease;
  border-radius: 5px;
  font-weight: bold;
}

.contact input[type="submit"]:hover {
  background-color: #ffb6c1;
}

footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer p {
  margin: 0;
}

footer nav {
  margin-top: 20px;
}

footer .con p a{
  font-size:1.3rem;
  font-weight: bolder;
}

footer .con p a:hover{
  text-decoration: underline;
}

footer nav a {
  text-decoration: none;
  margin: 20px 5px;
  color: #fff;
}

footer nav a:hover {
  text-decoration: underline;
}
